/* --- Enable Tailwind CSS --- */
@import "tailwindcss";
@tailwind utilities;

/* --- Reset Default Margins --- */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font--sans);            /* Default Font (Inter) */
  background-color: var(--color-background); /* Light Gray Background of every page. */
  color: var(--color-black);                 /* Default Text Color (Dark Grey) */
}

/* --- Global Theme Variables --- */
@theme {
  --font--sans: "Inter", sans-serif; /* Default Font (Inter) */

  --color-background: #F8F9FF; /* Light Gray Background of every page. */

  --color-dark-grey: #1E2738;  /* Dark Grey text, sidebar background.*/
  --color-light-grey: #94A3B8; /* Grey text & icon at sidebar. */
  --color-grey: #464651;      /* Grey icon (e.g. Download / Filter) */
  --color-dark-blue: #151E66;  /* Dark blue icon (e.g. Eyes / Pen / Add), button, dashboard background, overlay window header. */
  --color-light-blue: #EFF4FF; /* Table header, overlay window background. */
  --color-green: #15803D;     /* Green icon (e.g. Tick / Save), button (e.g. Simpan / Sahkan), text (e.g. Kredit). */
  --color-red: #BA1A1A;       /* Red icon (e.g. Dustbin / Warning / Logout), button (e.g. Batal / Padam), text (e.g. Debit). */

  /* Status Bayaran */
  --color-cukup: #15803D;
  --color-kurang: #BA1A1A;
  --color-lebih: #3B82F6;

  /* Status Penghuni */
  --color-aktif: #15803D;
  --color-x-layak: #BA1A1A;
  --color-pencen-datang: #F59E0B;

  /* Status Bayaran & Penghuni */
  --color-x-lengkap: #9333EA;

  /* Status Transaksi */
  --color-normal: #CFFAFE;
  --color-dibalikan: #DC2626;
  --color-pembalikan: #DC2626;
  --color-dilaraskan: #FEF3C7;
  --color-pelarasan: #FEF3C7;
}